<ion-view title="케어" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body ">
            <p style="margin-top:0px;color:#000000;text-align:center;" class=" ">오늘 고객의 기분은 어땠나요?</p>
            <div class=" button-bar">
                    <a ng-repeat="feeling in feelings" class="button button-light" 
                    ng-class="{'button-positive': feeling.checked}"
                    href="" ng-click="check(feelings, feeling.level)">
                        <img src="../img/{{feeling.level}}.png" width="100%"><br>
                        {{ feeling.label }}
                    </a>
            </div>
        </div>
        <div class="item item-body">
            <p style="margin-top:0px;color:#000000;text-align:center;" class=" ">고객 신체 상태는 어땠나요?</p>
            <div class=" button-bar ">
                <a ng-repeat="physical in status_physical" class="button button-light"
                ng-class="{'button-positive': physical.checked}"
                href="" ng-click="check(status_physical, physical.level)">
                    <img src="../img/heart.png" width="100%"><br>
                    <p style="line-height: 100%;">{{ physical.label }}</p>
                </a>                
            </div>
        </div>
        <div class="item item-body">
            <p style="margin-top:0px;color:#000000;text-align:center;" class=" ">고객 식사 상태는 어땠나요?</p>
            <div class=" button-bar ">
                <a ng-repeat="meal in status_meal" class="button button-light" 
                ng-class="{'button-positive': meal.checked}"
                href="" ng-click="check(status_meal, meal.level)">
                    <img src="../img/heart.png" width="100%"><br>
                    <p style="line-height: 100%;">{{ meal.label }}</p>
                </a>  
            </div>
        </div>
        <div class="item item-body">
            <p style="margin-top:0px;color:#000000;text-align:center;" class=" ">고객 인지 상태는 어땠나요?</p>
            <div class=" button-bar ">
                <a ng-repeat="cognitive in status_cognitive" class="button button-light" 
                ng-class="{'button-positive': cognitive.checked}"
                href="" ng-click="check( status_cognitive, cognitive.level)">
                    <img src="../img/heart.png" width="100%"><br>
                    <p style="line-height: 100%;">{{ cognitive.label }}</p>
                </a>  
            </div>
        </div>
        <div class="item item-body">
            <p style="margin-top:0px;color:#000000;text-align:center;" class=" ">고객 소변 실수 횟수는?</p>
            <div class=" button-bar ">
                <a ng-repeat="defecation in status_defecation" class="button button-light" 
                ng-class="{'button-positive': defecation.checked}"
                href="" ng-click="check(status_defecation, defecation.level)">
                    <img src="../img/heart.png" width="100%"><br>
                    <p style="line-height: 100%;">{{ defecation.level }}</p>
                </a>  
            </div>
        </div>
        <div class="item item-body">
            <p style="margin-top:0px;color:#000000;text-align:center;" class=" ">고객 대변 실수 횟수는?</p>
            <div class=" button-bar ">
                <a ng-repeat="big_defecation in status_big_defecation" class="button button-light" 
                ng-class="{'button-positive': big_defecation.checked}"
                href="" ng-click="check(status_big_defecation, big_defecation.level)">
                    <img src="../img/heart.png" width="100%"><br>
                    <p style="line-height: 100%;">{{ big_defecation.level }}</p>
                </a>  
            </div>
        </div>
        <form class="list ">
            <label class="item item-input">
                <span class="input-label">특이사항</span>
                <textarea rows="3"
                ng-model="activities.status_comment"
                ng-change="changeBack(this)"></textarea>
            </label>
        </form>
        <button class="button button-block button-positive"
        ng-click="report()">전 송</button>
    </ion-content>
</ion-view>